---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Publications from "../components/Publications.astro";
import News from "../components/News.astro";
import Footer from "../components/Footer.astro";
import GoogleAnalytics from "../components/GoogleAnalytics.astro"; //
import { siteConfig } from "../config";
import "../styles/global.css";

const socialImageURL = new URL('/image.png', Astro.site);
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en">
  <head>
    <GoogleAnalytics id="G-933S5M5HMF" />

    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    
    <title>{siteConfig.name} - {siteConfig.title}</title>
    <meta name="title" content={`${siteConfig.name} - ${siteConfig.title}`} />
    <meta name="description" content={siteConfig.description} />
    <link rel="canonical" href={canonicalURL} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={`${siteConfig.name} - ${siteConfig.title}`} />
    <meta property="og:description" content={siteConfig.description} />
    <meta property="og:image" content={socialImageURL} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={`${siteConfig.name} - ${siteConfig.title}`} />
    <meta property="twitter:description" content={siteConfig.description} />
    <meta property="twitter:image" content={socialImageURL} />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>
  <body>
    <Header />
    <section>
      <Hero />
      <About />
      <Publications />
      <News />
    </section>
    <Footer />
  </body>
</html>
